:root{
    --background-logo: #01CBE1;
    --text-color: #003755;
}

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    height: 5rem;
}

.logo-header{
    display: flex;
    align-items: center;
    background-color: var(--text-color);
}

.logo-header img{
    height: 5vh;
    margin: 0 1rem;
}

.nav{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.navegacao{
    display: flex;
    align-items: center;
    list-style: none;
    transition: all 0.5s ease-out;
}

.navegacao li{
    padding: 1rem;
}

.navegacao a{
    color: var(--text-color);
    text-decoration: none;
}

.navegacao a:hover{
    border-bottom: 2px solid var(--text-color);
}

#btn-toggle-navigation{
    display: none;
    height: 1.7rem;
    flex-direction: column;
    justify-content: space-between;
}

#btn-toggle-navigation div{
    background-color: white;
    width: 2rem;
    height: 4px;
}

.hero {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-text {
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    color: #FFFFFF;
    text-align: left;
    z-index: 2;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--text-color);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    z-index: 3;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.slide{
    height: 90vh;
}

.slide img{
    height: 100%;
    background: linear-gradient(to bottom, rgba(6, 18, 30, 1), #06121e);
}

.slide-text {
    width: 80vw;
    padding: 10px;
    font-size: 16px;
    transform: translateX(-50%);
}

button.prev, button.next {
    padding: 5px;
    font-size: 2vw;
}

.text-dark-blue{
    color: var(--text-color);
}

.bg-dark-blue{
    background-color: var(--text-color);
}

.card{
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.card .article{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.card .article img{
    width: 70vw;
    border-radius: 30px;
}

.card .article .text{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .article .text p{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.card .article .text h2{
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.main .article{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.main .article img{
    width: 70vw;
    border-radius: 30px;
}

.main .article .text{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .article .text p{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.main .article .text h2{
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.button{
    color: #FFFFFF;
    color: var(--text-color);
    font-weight: bolder;
    margin-top: 1rem;
    padding: 0.8rem;
    font-size: 1rem;
    transition: all 0.2s ease-out;
}

.button:hover{
    padding: 1rem;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.footer .links-social-media{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.footer .links-social-media img{
    width: 2.5rem;
}

.footer .navegacao-footer{
    display: flex;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
    transition: all 0.5s ease-out;
}


.footer .navegacao-footer li{
    padding: 1rem;
}

.footer .navegacao-footer a{
    color: var(--text-color);
    text-decoration: none;
}

.footer .navegacao-footer a:hover{
    border-bottom: 2px solid var(--text-color);
}

@media (max-width: 1200px){
    .card .article{
        flex-direction: column;
    }

    .main .article{
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .header{
        background-color: var(--text-color);
        height: 8vh;
        padding: 1rem;
    }

    .logo-header img{
        height: 4vh;
    }

    .navegacao{
        background-color: #FFFFFF;
        display: block;
        position: absolute;
        width: 100vw;
        left: -100vw;
        top: 3rem;
        z-index: 10000;
    }

    .navegacao li{
        border-bottom: 1px solid black;
        text-align: center;
    }

    #btn-toggle-navigation{
        display: flex;
    }

    .hero{
        height: 80vh;
    }

    button.prev, button.next {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .card{
        height: auto;   
    }

    .card .article{
        margin: 1rem auto;
        flex-direction: column;
    }

    .main .article{
        flex-direction: column;
    }

    .footer .navegacao-footer{
        flex-direction: column;
    }
}